# Authentification code-server
CODE_SERVER_PASSWORD=REMPLACER_PAR_UN_MOT_DE_PASSE_SOLIDE

# Mot de passe sudo dans le terminal intégré
# Peut rester vide si sudo n’est pas nécessaire dans dev-studio
SUDO_PASSWORD=

# Chemin persistant de la configuration code-server
HOST_CONFIG_PATH=/DATA/AppData/dev-studio/config

# Chemin contenant les projets
HOST_WORKSPACE_PATH=/DATA/Workspace

ENABLE_OPENCODE_SERVER=